            a {
                color:black;
                text-decoration:none;
            }
            a:hover {
                text-decoration:underline;
            }
            #q {
                border-radius: 10px;
            }
            button {
                        font-weight: bold; 
                        color:white; 
                        background-color:#488BF9; 
                        border-radius:2px; 
                        border: 1px solid #3079ED; 
                        padding: 10px;
            }
            button:hover {
                        font-weight: bold; 
                        color:white; 
                        background-color:#387DEB; 
                        border-radius:2px; 
                        border: 1px solid #2F5BB7; 
                        padding: 10px;
            }
            .center {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .left {
                        display: flex;
                        justify-content: left;
                        align-items: left;
            }
<!-- credit w3 schools for styling of flexbox-->
div.flex-container {
  display: flex;
  flex-direction: row;
}

div.flex-container > div {
  margin: 10px;
}
